<div class="row">
	<div class="col-lg-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td colspan="2">{{ text_payment_information }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ text_transaction_id }}</td>
					<td><a href="{{ transaction_url }}" target="_blank">{{ transaction_number }}</a></td>
				</tr>
				<tr>
					<td>{{ text_transaction_status }}</td>
					<td>{{ transaction_status }}</td>
				</tr>
				<tr>
					<td>{{ text_transaction_description }}</td>
					<td>{{ attribute(_context, 'text_transaction_' ~ transaction_status) }}</td>
				</tr>
				<tr>
					<td>{{ text_payment_product }}</td>
					<td>{{ payment_product }}</td>
				</tr>
				<tr>
					<td>{{ text_total }}</td>
					<td>{{ total }}</td>
				</tr>
				<tr>
					<td>{{ text_amount }}</td>
					<td>{{ amount }}</td>
				</tr>
				{% if amount_captured > 0 %}
				<tr>
					<td>{{ text_amount_captured }}</td>
					<td>{{ amount_captured }}</td>
				</tr>
				{% endif %}
				{% if amount_refunded > 0 %}
				<tr>
					<td>{{ text_amount_refunded }}</td>
					<td>{{ amount_refunded }}</td>
				</tr>
				{% endif %}
				<tr>
					<td>{{ text_currency_code }}</td>
					<td>{{ currency_code }}</td>
				</tr>
				{% if card_bin %}
				<tr>
					<td>{{ text_card_bin }}</td>
					<td>{{ card_bin }}</td>
				</tr>
				{% endif %}
				{% if card_number %}
				<tr>
					<td>{{ text_card_number }}</td>
					<td>{{ card_number }}</td>
				</tr>
				{% endif %}
				<tr>
					<td>{{ text_date_created }}</td>
					<td>{{ date_created }}</td>
				</tr>
				<tr>
					<td>{{ text_environment }}</td>
					<td>{{ environment }}</td>
				</tr>
				{% if ((transaction_status == 'created') or (transaction_status == 'rejected') or (transaction_status == 'rejected_capture') or (transaction_status == 'pending_capture') or (transaction_status == 'captured')) %}
				<tr>
					<td>{{ text_transaction_action }}</td>
					<td>
						{% if (transaction_status == 'pending_capture') %}
						{% if payment_product == 'TWINTWL' %}
						<div class="twint">{{ text_twint }}</div>
						{% endif %}
						<div class="row" style="margin: 0px -4px">
							<div class="col-lg-4" style="padding: 4px 4px;">
								<button type="button" class="btn btn-primary w-100 button-capture">{{ button_capture }}</button>
							</div>
							<div class="col-lg-4" style="padding: 4px 4px;">
								<input type="text" name="capture_amount" value="{{ capture_amount }}" id="input_capture_amount" class="form-control" />
							</div>
						</div>
						{% endif %}
						{% if ((transaction_status == 'created') or (transaction_status == 'rejected') or (transaction_status == 'rejected_capture') or (transaction_status == 'pending_capture')) %}
						<div class="row" style="margin: 0px -4px">
							<div class="col-lg-4" style="padding: 4px 4px;">
								<button type="button" class="btn btn-primary w-100 button-cancel">{{ button_cancel }}</button>
							</div>
							<div class="col-lg-4" style="padding: 4px 4px;">
								<input type="text" name="cancel_amount" value="{{ cancel_amount }}" id="input_cancel_amount" class="form-control" />
							</div>
						</div>
						{% endif %}
						{% if (transaction_status == 'captured') %}
						<div class="row" style="margin: 0px -4px">
							<div class="col-lg-4" style="padding: 4px 4px;">
								<button type="button" class="btn btn-primary w-100 button-refund">{{ button_refund }}</button>
							</div>
							<div class="col-lg-4" style="padding: 4px 4px;">
								<input type="text" name="refund_amount" value="{{ refund_amount }}" id="input_refund_amount" class="form-control" />
							</div>
						</div>
						{% endif %}
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
		{% if fraud_result or liability or exemption or authentication_status %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<td colspan="2">{{ text_fraud_information }}</td>
				</tr>
			</thead>
			<tbody>
				{% if fraud_result %}
				<tr>
					<td>{{ text_fraud_result }}</td>
					<td>{{ fraud_result }}</td>
				</tr>
				{% endif %}
				{% if liability %}
				<tr>
					<td>{{ text_liability }}</td>
					<td>{{ liability }}</td>
				</tr>
				{% endif %}
				{% if exemption %}
				<tr>
					<td>{{ text_exemption }}</td>
					<td>{{ exemption }}</td>
				</tr>
				{% endif %}
				{% if authentication_status %}
				<tr>
					<td>{{ text_authentication_status }}</td>
					<td>{{ authentication_status }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
<script type="text/javascript">

$('#tab-worldline').on('click', '.button-capture', function() {
	$.ajax({
		type: 'post',
		url: '{{ capture_url }}',
		data: {'order_id' : '{{ order_id }}', 'transaction_id' : '{{ transaction_id }}', 'capture_amount': $('#tab-worldline #input_capture_amount').val()},
		dataType: 'json',
		beforeSend: function() {
			$('#tab-worldline .btn').prop('disabled', true);
		},
		complete: function() {
			$('#tab-worldline .btn').prop('disabled', false);
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			if (json['error'] && json['error']['warning']) {
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			}
			
			if (json['success']) {
				$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				
				$('#tab-worldline').load('{{ info_url }}');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#tab-worldline').on('click', '.button-cancel', function() {
	$.ajax({
		type: 'post',
		url: '{{ cancel_url }}',
		data: {'order_id' : '{{ order_id }}', 'transaction_id' : '{{ transaction_id }}', 'cancel_amount': $('#tab-worldline #input_cancel_amount').val()},
		dataType: 'json',
		beforeSend: function() {
			$('#tab-worldline .btn').prop('disabled', true);
		},
		complete: function() {
			$('#tab-worldline .btn').prop('disabled', false);
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			if (json['error'] && json['error']['warning']) {
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			}
			
			if (json['success']) {
				$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				
				$('#tab-worldline').load('{{ info_url }}');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#tab-worldline').on('click', '.button-refund', function() {
	$.ajax({
		type: 'post',
		url: '{{ refund_url }}',
		data: {'order_id' : '{{ order_id }}', 'transaction_id' : '{{ transaction_id }}', 'refund_amount': $('#tab-worldline #input_refund_amount').val()},
		dataType: 'json',
		beforeSend: function() {
			$('#tab-worldline .btn').prop('disabled', true);
		},
		complete: function() {
			$('#tab-worldline .btn').prop('disabled', false);
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			if (json['error'] && json['error']['warning']) {
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			}
			
			if (json['success']) {
				$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				
				$('#tab-worldline').load('{{ info_url }}');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

</script>